main.explorer {
    flex-flow: row-reverse wrap;
}

main.explorer:not(.active)>:not(div) {
    display: none;
}

div.window {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background: #c1dbf2;
    width: calc(100% - 30px);
    height: calc(100% - 60px);
    margin-top: 30px;
    border: 15px solid #c1dbf2;
    border-radius: 20px;
}

main.explorer.active div.window{
    width: calc((100% - 50px) * 0.7);
}

.breadcrumb {
    display: flex;
    width: 100%;
    height: 40px;
    font: 400 16px 'IBM Plex Mono';
    color: #fff;
    z-index: 1;
}

.breadcrumb summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a1c8eb;
    list-style: none;
    border-radius: 20px;
    padding: 10px;
    height: 20px;
    cursor: pointer;
}
.breadcrumb summary::-webkit-details-marker {
    display: none;
}

.breadcrumb summary::after {
    content: '▼';
    font-size: 8px;
    margin: 0 2px 0 5px;
}

.breadcrumb>a {
    display: flex;
    align-items: center;
    background: #a1c8eb;
    border-radius: 20px 0 0 20px;
    padding: 0 10px;
    color: #fff;
    text-decoration: unset;
}

.breadcrumb>a+details {
    margin-left: 3px;
    min-width: 30px;
    width: 30px;
}

.breadcrumb>a+details>summary {
    border-radius: 0 20px 20px 0;
}

.breadcrumb>a+details>summary::after {
    margin-left: 0;
}

.breadcrumb > * {
    display: flex;
    height: 40px;
    min-width: 40px;
}

.breadcrumb > span {
    justify-content: center;
    align-items: center;
    color: #fff;
}

.breadcrumb .directories {
    display: flex;
    flex-flow: column wrap;
    background: #a1c8eb;
    width: max-content;
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px 20px;
    z-index: 1;
    user-select: none;
}

.breadcrumb .directories a {
    display: flex;
    cursor: pointer;
    position: relative;
    color: #fff;
    text-decoration: unset;
    padding: 5px 0;
}

.breadcrumb .directories a::before {
    content: '';
    display: flex;
    position: absolute;
    inset: -5px -10px;
    pointer-events: none;
    border-radius: 10px;
}

.breadcrumb .directories a:hover::before {
    background: #c1dbf2;
    z-index: -1;
}

.breadcrumb .directories a:focus-visible {
    outline: unset;
}

.breadcrumb .directories a:focus-visible::before {
    box-shadow: inset 0 0 0 4px #c1dbf2;
}

table.files {
    font: 400 14px 'IBM Plex Mono';
    border-spacing: 0;
}

table.files th {
    color: #4491d7;
    font-weight: 500;
    text-align: left;
}

table.files :is(th, td) {
    padding: 0;
    height: 24px;
}

table.files :is(td, th):last-child {
    text-align: right;
}

table.files td:last-child {
    font-size: 0;
}

table.files td:last-child a {
    display: inline-flex;
    width: 20px;
    height: 20px;
}

a.preview-btn {
    background: url('/tankionlinearchive/resources/preview.svg') center / 100% no-repeat;
}

a.new_tab {
    background: url('/tankionlinearchive/resources/new_tab.svg') center / 100% no-repeat;
}

a.folder {
    background: url('/tankionlinearchive/resources/folder.svg') center / 100% no-repeat;
}

th, td:not(:first-child){
    user-select: none;
}

hr {
    display: flex;
    background: #0003;
    width: 1px;
    height: calc(100% - 30px);
    border: 0;
    margin: 30px 9.5px;
}

iframe.preview {
    width: calc((100% - 50px) * 0.3);
    height: calc(100% - 30px);
    margin-top: 30px;
    border: 0;
    overflow: auto;
}
